<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
  xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <import resource="classpath*:spring/mongo-setup.xml" />

  <context:property-placeholder
    location="classpath:default-config.properties, file:${user.home}/.skl-natpatques/config.properties, ${SKL_NATPATQUES}"
    ignore-resource-not-found="true" ignore-unresolvable="true" />

  <context:annotation-config />

  <!-- HTTP basic authentication in Spring Security -->
  <security:http>
    <security:intercept-url pattern="/*" access="ROLE_ADMIN" method="POST" />
    <security:intercept-url pattern="/*" access="ROLE_ADMIN" method="DELETE" />
    <security:http-basic />
  </security:http>

  <util:properties id="users" location="file:${user.home}/.skl-natpatques/users.properties" />

  <bean id="myUserDetailsService" class="org.springframework.security.provisioning.InMemoryUserDetailsManager">
    <constructor-arg ref="users" />
  </bean>

  <security:authentication-manager>
    <security:authentication-provider user-service-ref="myUserDetailsService" />
  </security:authentication-manager>

  <bean class="se.callistaenterprise.rest.SurveyResource">
    <constructor-arg ref="mongoTemplate" />
  </bean>

</beans>
